*.pyc
matchzoo_temp_files/data/*
matchzoo_temp_files/files/*
matchzoo_temp_files/jupyters/*
matchzoo_temp_files/logger/*
matchzoo_temp_files/models/*
matchzoo_temp_files/preprocessors/*
matchzoo_versions/MatchZoo/*
__pycache__/*.pyc
